div.fixedsize_pos {
  height: 700px;
  width: 110%;
  /* background-color: #f5f2eb; */
  margin-left: -5%;
  overflow-x: hidden;
  overflow-y: auto;
}

.btn_goPosItemFind {
  width: 100px;
  height: 32px;
  background-color: #136128;
  border: none;
  color: white;
  font-size: 10pt;
  box-shadow: 3px 3px 0px 0px black;
  border-radius: 5px;
  margin-top: -10px;
}

.btn_costPanel_add {
  width: 65px;
  height: 28px;
  background-color: #136128;
  border: none;
  color: white;
  font-size: 10pt;
  box-shadow: 3px 3px 0px 0px black;
  border-radius: 5px;
  margin-top: -10px;
}

.btn_costPanel_clear {
  width: 65px;
  height: 28px;
  background-color: #a64508;
  border: none;
  color: white;
  font-size: 10pt;
  box-shadow: 3px 3px 0px 0px black;
  border-radius: 5px;
  margin-top: -10px;
}

/* btn_checkout */
.btn_checkout {
  width: 110px;
  height: 32px;
  background-color: #136128;
  border: none;
  color: white;
  font-size: 10pt;
  box-shadow: 3px 3px 0px 0px black;
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.btn_delete_item {
  width: 30px;
  height: 30px;
  background-color: #ab321a;
  border: none;
  color: white;
  font-size: 10pt;
  box-shadow: 2px 2px 0px 0px black;
  border-radius: 3px;
  margin-top: -10px;
  margin-left: 50px;
}

.input_text_pos {
  font-size: 1em;
  color: blue;
  width: 90%;
  margin-left: -2%;
}

.pos_input_msg {
  width: 80%;
  font-size: 1em;
  color: black;
  margin-left: 10%;
}

.pos_input_msg_err {
  font-size: 1em;
  color: red;
}

.div_pos_item_select {
  font-size: 0.85em;
  overflow-x: hidden;
  overflow-y: auto;
}

.pos_item_select {
  font-size: 0.8em;
  margin-left: 14px;
  margin-right: 15px;
  margin-bottom: 5px;
  width: 80%;
}

.cost_panel_placement {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 45px;
  height: 125px;
  background-color: #f5f2eb;
  font-size: 0.9em;
  border: 1px solid;
  box-shadow: 2px 3px #888888;
}

.item_qty {
  width: 60px;
  height: 22px;
  color: #1844a3;
}

.cost_cell_placement {
  font-size: 0.9em;
  font-weight: 650;
  padding-bottom: 10px;
}

.pos_input_msg {
  font-size: 1em;
  color: black;
}

.pos_input_msg_err {
  font-size: 1em;
  color: red;
}

hr.adjust_pos {
  /* margin-top: -10px; */
  width: 90%;
  background-color: #1d9113;
}

.new_cart_header {
  color: #136e2b;
  font-size: 1em;
  font-weight: 700;
}

.cart_costs {
  font-size: 1em;
  font-weight: 700;
  color: green;
  margin-left: -100px;
  margin-top: 10px;
}

.spacing_cart_panel {
  height: 10px;
}

.show_items {
  font-size: 1em;
  margin-top: 10px;
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  div.fixedsize_pos {
    height: 560px;
    width: 110%;
    margin-left: -14px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .btn_goPosItemFind {
    width: 40px;
    height: 27px;
    font-size: 8pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
    margin-top: -10px;
    margin-left: -35px;
  }

  .btn_costPanel_add {
    width: 65px;
    height: 28px;
    font-size: 10pt;
    margin-top: -10px;
  }

  .btn_costPanel_clear {
    width: 65px;
    height: 28px;
    font-size: 10pt;
    margin-top: -10px;
  }

  .btn_checkout {
    width: 80px;
    height: 26px;
    font-size: 8pt;
    margin-top: 8px;
    margin-left: -40px;
    margin-bottom: 10px;
  }

  .btn_delete_item {
    width: 28px;
    height: 28px;
    font-size: 9pt;
    border-radius: 3px;
    margin-top: -10px;
    margin-left: 10px;
  }

  .cost_panel_placement {
    margin-top: 5px;
    margin-left: 5%;
    width: 86%;
    height: 125px;
    font-size: 0.9em;
  }

  .input_text_pos {
    font-size: 0.9em;
    color: blue;
    width: 80%;
    margin-left: -2%;
  }

  .pos_input_msg {
    margin-top: -2px;
    font-size: 0.8em;
    color: black;
  }

  .pos_input_msg_err {
    margin-top: -2px;
    font-size: 0.8em;
    color: red;
  }

  .div_pos_item_select {
    font-size: 1em;
  }

  .pos_item_select {
    font-size: 0.8em;
    margin-left: -5px;
    margin-right: 15px;
    margin-bottom: 5px;
    width: 75%;
  }

  hr.adjust_pos {
    margin-top: 5px;
    margin-left: 8%;
    width: 90%;
  }

  .new_cart_header {
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: 800;
    padding-bottom: 5px;
  }

  .cart_costs {
    font-size: 0.8em;
    color: green;
    margin-left: -20px;
  }

  .show_items {
    font-size: .8em;
  }
}

@media only screen and (max-device-width: 320px) {
  /* styles for browsers larger than 320px iphone5; */
  div.fixedsize_pos {
    height: 500px;
    width: 110%;
    margin-left: -14px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .btn_goPosItemFind {
    width: 40px;
    height: 24px;
    font-size: 7pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
    margin-top: -12px;
    margin-left: -29px;
  }

  .btn_costPanel_add {
    width: 55px;
    height: 26px;
    font-size: 8pt;
    margin-top: -10px;
  }

  .btn_costPanel_clear {
    width: 55px;
    height: 26px;
    font-size: 8pt;
    margin-top: -10px;
  }

  .btn_checkout {
    width: 65px;
    height: 26px;
    font-size: 7pt;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .btn_delete_item {
    width: 27px;
    height: 27px;
    font-size: 8pt;
    border-radius: 3px;
    margin-top: -10px;
    margin-left: 5px;
  }

  .cost_panel_placement {
    margin-top: 5px;
    margin-left: 2.5%;
    width: 95%;
    height: 125px;
    font-size: 0.9em;
  }

  .input_text_pos {
    font-size: 0.9em;
    color: blue;
    width: 90%;
    margin-left: -2%;
  }

  .div_pos_item_select {
    font-size: 0.85em;
  }

  .pos_item_select {
    font-size: 0.8em;
    margin-left: 14px;
    margin-right: 15px;
    margin-bottom: 5px;
    width: 80%;
  }

  hr.adjust_pos {
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
  }

  .new_cart_header {
    margin-top: 5px;
    font-size: 0.9em;
    font-weight: 800;
    padding-bottom: 5px;
  }

  .cart_costs {
    margin-top: 10px;
    margin-left: -20px;
    font-size: 0.75em;
    color: green;
  }

  .show_items {
    font-size: .75em;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
  div.fixedsize_pos {
    margin-top: 5px;
    padding-top: 5px;
    height: 800px;
    width: 100%;
    margin-left: -1px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .btn_goPosItemFind {
    width: 100px;
    height: 30px;
    font-size: 9pt;
    box-shadow: 3px 3px 0px 0px black;
    border-radius: 5px;
    margin-top: -1px;
    margin-left: -15px;
  }

  .btn_costPanel_clear {
    width: 70px;
    height: 30px;
    font-size: 10pt;
    margin-top: -10px;
  }

  .btn_costPanel_add {
    width: 70px;
    height: 30px;
    font-size: 8pt;
    margin-top: -10px;
  }

  .btn_checkout {
    width: 100px;
    height: 32px;
    font-size: 9pt;
    font-weight: 650;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .btn_delete_item {
    width: 30px;
    height: 30px;
    font-size: 10pt;
    border-radius: 3px;
    margin-top: -10px;
    margin-left: 5px;
  }

  .cost_panel_placement {
    margin-top: 5px;
    margin-left: 3%;
    width: 95%;
    height: 125px;
    font-size: 0.9em;
  }

  .pos_input_msg {
    margin-top: -2px;
    font-size: 1em;
    color: black;
  }

  .pos_input_msg_err {
    margin-top: -4px;
    font-size: 1em;
    color: red;
  }

  .item-select {
    width: 80%;
  }

  hr.adjust_pos {
    margin-top: 15px;
    margin-left: 0;
    width: 100%;
  }

  .input_text_pos {
    font-size: 1em;
    color: blue;
    width: 90%;
    margin-left: -2%;
  }

  .div_pos_item_select {
    font-size: 0.85em;
  }

  .pos_item_select {
    font-size: 1em;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 5px;
    width: 85%;
  }

  .new_cart_header {
    margin-top: -15px;
    font-size: 1em;
    font-weight: 800;
    padding-bottom: 5px;
  }

  .cart_costs {
    margin-top: 10px;
    margin-left: -100px;
    font-size: 1em;
    color: green;
  }
}
